#board{
    position: relative;
    width: 640px;
    height: 480px;
    background: grey;
}
#board > #ball{
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: pink;
}
#board> #hole{
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background: black;
}
#timer{
    position: relative;
    width: 100px;
    height: 30px;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    top: 0px;
    left: 2px;
    
}