#board{
    position: relative;
    width: 640px;
    height: 480px;
    background: grey;
}
#board > #ball{
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: pink;
}
#board> #hole{
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background: black;
}