body{
    background: #3d3d3d;
    color: #ecf0f1;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}
.main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.container{
    margin: 50px auto;
    width: 60vw;
}
.top{
    background: #273c75;
    height: 30px;
    color: #ecf0f1;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
}
.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
a, a:hover, a:visited{
    color: #ecf0f1;
    text-decoration: none;
}
.top>a.save{
    color: #ecf0f1;
    border: none;
}
.top>a.save>i{
    color: #ecf0f1;
}

label>span{
    width: 50px;
    background: red;
}
.controls-box{
    width: 20vw;
    background: #4b4b4b;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}
.controls-box>span{
    font-size: 23px;
    background: #40739e;
    margin: 0;
    padding: 10px;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.controls-box .control-slider{
    padding: 3px;
}
.control-slider>span{
    display: block;
    text-align: center;
}
.control-slider label{
    display: block;
}
.control-slider input{
    padding: 5px;
    width: calc( 100% - 12px);
    margin: 0 auto;
}
.controls-box>input{
    display: block;
    background: blue;
}
/* slider */
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 0px;
    border-radius: 5px;   
    background: #d3d3d3;
    outline: none;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: #40739e;
    cursor: pointer;
}
  
.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #40739e;
    cursor: pointer;
}
input[type="color"] {
	-webkit-appearance: none;
	border: none;
}
input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
    border: none;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}
/* input */
#image {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
#image + label{
    border: 2px solid#d3d3d3; 
    padding: 2px 4px;
    border-radius: 2px;
    cursor: pointer;
}
#fSubmit{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
    z-index: -1;
}
#fSubmit + label > i{
    cursor: pointer;
}
